<div class="about-page">
  <!-- Job Experience -->
  <div>
    <mat-stepper orientation="vertical" [linear]="false">
      <mat-step>
        <ng-template matStepLabel>Josapar</ng-template>
        <div class="step-content">
          <p>
            My job is to develop new systems through the usage of C#, ASP.NET,
            JQuery, HTML, CSS, AJAX, Oracle and Postgres;
          </p>
          <p>
            I am, most of the time, creating web pages through MVC or Razor
            Pages patterns.
          </p>
          <div class="ml-3">
            <mat-list>
              <li>
                <small
                  >Made an entire system to view, edit and publish news, with
                  authorization, APIs and public section, delivered to the
                  Marketing sector of the company.</small
                >
              </li>
              <li>
                <small
                  >Made many dashboards, with fullstack data analytics, showing
                  to the users in many ways, like graphic, tree views, vector
                  maps and organizational charts.</small
                >
              </li>
            </mat-list>
          </div>
          <mat-slider
            style="width: 100%"
            min="1"
            max="5"
            step="1"
            value="3"
            disabled
            discrete
            color="accent"
          ></mat-slider>
          <p class="flex justify-between">
            <small>Feb/2022</small>
            <small>Now</small>
          </p>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  <!-- About me -->
  <div class="about-me">
    <h1>Hello! I'm Iron Berny, a Full Stack Developer</h1>
    <div>
      <img src="" alt="" />
    </div>
    <div class="px-8">
      <p>
        I've started to study programming with 19 years old, making simple games
        with C# in unity engine, then, with 20, I took it more seriously,
        entering an Bachelors Degree in System Development and Analisis, where I
        learned Javascript, HTML and CSS developing web pages.
      </p>
      <p>
        After one semester, I got a job and learned a lot these last months that
        I've been working on a day to day practice. Now, I am a full stack
        developer, capable of creating almost every part of the applications,
        always taking care of performance, code cleanliness and user experience.
      </p>
    </div>

    <!-- Courses -->
    <div class="w-full px-8">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let course of courses">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ course.title }}</mat-panel-title>
            <mat-panel-description>{{ course.creator }}</mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{ course.description }}</p>
          <a href="{{ course.certificateUrl }}" target="_blank" class="text-blue-600 hover:text-blue-400">Link to Certificate!</a>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <!-- Technologies and Languages -->
  <div class="technologies">
    <mat-list>
      <div mat-subheader>Languages</div>
      <ng-container *ngFor="let technology of languages">
        <mat-list-item>
          <img matListAvatar [src]="technology.svgPath" />
          <div class="left ml-4">
            <p mat-line class="font-bold">{{ technology.name }}</p>
            <p mat-line>{{ technology.time }}</p>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
      <div mat-subheader>Technologies</div>
      <ng-container *ngFor="let technology of technologies">
        <mat-list-item>
          <img matListAvatar [src]="technology.svgPath" />
          <div class="left ml-4">
            <p mat-line class="font-bold">{{ technology.name }}</p>
            <p mat-line>{{ technology.time }}</p>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </div>
</div>
