<div class="flex flex-col items-center w-full mt-6">
  <h1>Contacts Page</h1>
  <a href="#" target="_blank"
    matTooltip="Download my Curriculum"
    matTooltipPosition="above"
  >
    <img
      src="https://img.freepik.com/vetores-gratis/ilustracao-de-papel_53876-5860.jpg?w=740&t=st=1670942927~exp=1670943527~hmac=f1b042706b269bb59f4d7aad7ab709485c96dd3dc164e55e1ee37924abce4d12"
      alt=""
    />
  </a>
  <p>Phrases and phrases</p>
  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>javascript</mat-icon>
      <span>Javascript</span>
    </mat-list-item>
  </mat-list>
</div>
