<div class="flex flex-col items-center w-full mt-6">
  <h2>My Curriculum</h2>
  <a href="#" target="_blank"
    matTooltip="Download my Curriculum"
    matTooltipPosition="right"
  >
    <img
      src="https://cdn.pixabay.com/photo/2016/03/31/14/48/sheet-1292828_960_720.png"
      alt=""
    />
  </a>
  <h2>Social Media Profiles</h2>
  <div class="profiles">
    <a href="https://www.linkedin.com/in/iron-berny" target="_blank"
      matTooltip="Check out my LinkedIn profile"
      matTooltipPosition="left"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
        alt=""
      />
    </a>
    <a href="https://github.com/IronProg" target="_blank"
      matTooltip="Check out My GitHub profile"
      matTooltipPosition="right"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
        alt=""
      />
    </a>
  </div>
</div>
