<div class="row">
  <div class="col-12 col-sm-6 col-lg-4 col-xl-3" *ngFor="let project of projects">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ project.title }}</mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip *ngFor="let tag of project.tags" selected>{{ tag }}</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-sm-image
        src="https://img.freepik.com/premium-vector/binary-code-stream-digital-data-codes-hacker-coding-crypto-matrix-numbers-flow-digitally-blue-screen-abstract-background_102902-991.jpg?w=2000"
        alt="Teste"
      />
      <mat-card-content class="pt-3">
        <p>{{ project.description }}</p>
      </mat-card-content>
      <mat-card-actions style="display: flex; justify-content: flex-end; gap: 8px;">
        <a role="button" [href]="project.viewUrl" mat-mini-fab color="accent">
          <mat-icon>preview</mat-icon>
        </a>
        <a role="button" [href]="project.codeUrl" mat-mini-fab color="primary">
          <mat-icon>code</mat-icon>
        </a>
        <a role="button" [routerLink]="['./edit', project.id]" mat-mini-fab color="warn">
          <mat-icon>edit</mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
